// variables
$color-hilight: rgb(204, 190, 41);
$color-hilight-lighten: lighten($color-hilight, 20%);
$color-bg: rgb(255, 235, 208);
$color-bg-dark: darken($color-bg, 7%);

$accent-color-primary: green;
$accent-color-light: green;
$accent-color-dark: rgba(0, 0, 0, 0.5);
$accent-color-trsp: rgba(0, 0, 0, 0.2);

$color-text: rgb(34, 35, 24);
$color-overlay: rgba(darken($color-text, 3.5%), 0.85);
$color-attack-default: #F0544E; // default lightest attack colour - see attackColors in mapDivs.coffee

$black: #000;
$navbar-height: 32px;
$navbar-padding: 8px;
$navbar-outer-height: $navbar-height + $navbar-padding * 2;

// TGM fontstacks
$font-family-sans-serif: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "ff-meta-serif-web-pro", Georgia, "Times New Roman", Times, serif;

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$par-font-size: 20;
$par-font-size-px: 20px;
$content-para-width: 620px;

$fixed-article-nav-height: 180px;
$navbar-height: 48px;
$fixed-article-nav-padding-top: 20px;
